
#header-white{


}

#header-white ul{
	margin-right: -50px;
	padding-left: 550px;
	font-size: 45px;
}

#name{
	font-size: 50px;
}

#about{
	margin-left: 300px;
	width: 80%;
	text-align: right;
}

.sub-titile{
	margin-right: 0px;
}

#portfolio-content{
	position: absolute;
}

/*roles effects*/

.myrole{
	margin-top: 15px;
	margin-left: 5px;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	

}

.roles{
	display: none;
	max-width: 250px;
	margin-left: 15px;
	margin-top: 10px;
	padding-left: 15px;
	font-weight: 5px;
	line-height: 20px;
	border-style: dotted;
	
	border-width: 3px;

}

#myrole-cbp{
	color: rgb(145,197,172);
}

#roles-cbp{
	border-color: rgb(145,197,172);
}

#myrole-gravity{
	color: rgb(243,171,172);
}

#roles-gravity{
	border-color: rgb(243,171,172);
}

#myrole-gravity{
	color: rgb(255,147,118);
}

#roles-gravity{
	border-color: rgb(255,147,118);
}

#myrole-hevc{
	color: rgb(173,217,230);
}

#roles-hevc{
	border-color: rgb(173,217,230);
}

#myrole-book{
	color: rgb(255,238,168);
}

#roles-book{
	border-color: rgb(255,238,168)
}

/*subcontent features*/
.subcontent{
	width: 100%;
	text-align: center;
}


/*colors*/
#cbptitlefont{
	color: rgb(145,197,172);
}


